<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
  <h2>PLAN DE CURSO</h2>
  <p>DESDE MARTES, EL 2 DE ENERO, 2018</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Subtítulo</th>
        <th>Contenido</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Básico de GIT</td>
        <td>¿Qué es el control de versión?</td>
        <td>1. Instalando Git y SourceTree<br>
            2. Ejemplo de descripción<br>
            3. Creando el repositorio (init)<br>
            4. Hacer la versión (confirmar)</td>
      </tr>
      <tr>
        <td></td>
        <td>Revertir</td>
        <td>1. copia de trabajo, índice, repositorio<br>
            2. Revoca tus ediciones<br>
            3. Restablecer<br>
            4. Revertir</td>
      </tr>
      <tr>
        <td></td>
        <td>Branch</td>
        <td>1. Crear Branch<br>
            2. Fusión de Branch<br>
            3. Resolviendo conflictos entre Branch<br>
            4. Prevención de colisión de Branch</td>
      </tr>
      <tr>
        <td></td>
        <td>Almacenamiento remoto</td>
        <td>1. Tipos de almacenamiento remoto<br>
            2. Crear almacenamiento remoto<br>
            3. Cargar en almacenamiento remoto</td>
      </tr>
      <tr>
        <td></td>
        <td>Colabora</td>
        <td>1. Replicación de almacenamiento remoto<br>
            2. Empujar y tirar<br>
            3. Resolviendo Conflictos</td>
      </tr>
      <tr>
        <td></td>
        <td>Temas avanzados</td>
        <td>1. Compare, combine el enlace externo de la herramienta<br>
            2. stash<br>
            3. Tag<br>
            4. Excluir del control de versión (.gitignore)<br>
            5. Gestión de archivos de entorno</td>
      </tr>
    </tbody>
  </table>
</div>
  </body>
</html>
